.Main-Container {
    height: 600px;
    width: 300px;
    border: 1px solid white;
    border-radius: 10px;
}

.btn {
    height: 3.5rem;
    width: 4rem;
    background-color: rgb(103, 103, 103);
    border: 1px solid white;
    margin: 5px;
}

.AC {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 8.5rem;
}

.equal {
    justify-self: end;
    grid-column-start: 4;
    grid-row-start: 4;
    grid-row-end: 6;
    height: 8rem;
}

#inputBox {
    width: 97%;
    height: 3rem;
    font-size: 30px;
    color: white;
    margin-top: 35%;
    text-align: right;
    border: none;
    outline: none;
    background-color: rgb(36, 36, 36);
}

#result {
    width: 97%;
    height: 3rem;
    font-size: 30px;
    color: white;
    text-align: right;
    border: none;
    outline: none;
    background-color: rgb(36, 36, 36);

}

.clr {
    background-color: #ff6500;
}

.Sec-Container {
    height: 60%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.iconBox{
    height: 5%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
.iconOne{
    width: 23%;  
}
.iconTwo{
    width: 35%;
    display: flex;
    justify-content: space-around;
}

.camera{
    /* border: 2px solid white; */
    height: 1.2rem;
    width: 6rem;
    border-radius: 10px;
    background-color: black;
}

.name{
    border-bottom: 1px solid wheat;
}